<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhi.retailmanagementsystem.business.user.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.yunzhi.retailmanagementsystem.business.user.model.po.RolePermission">
            <id property="roleId" column="RoleID" jdbcType="VARCHAR"/>
            <id property="permissionId" column="PermissionID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RoleID,PermissionID
    </sql>
    <insert id="insertRolePermission">
        INSERT INTO role_permission (RoleID, PermissionID)
        VALUES (#{roleId}, #{permissionId})
    </insert>
    <delete id="deleteByRole">
        DELETE
        FROM role_permission
        WHERE RoleID = #{roleId}
    </delete>
    <select id="findPermissionsByRole" resultType="java.lang.String">
        SELECT PermissionID
        FROM role_permission
        WHERE RoleID = #{roleId}
    </select>
    <select id="findRolesByPermission" resultType="java.lang.String">
        SELECT RoleID
        FROM role_permission
        WHERE PermissionID = #{permissionId}
    </select>
</mapper>
